{{ template "header" }}

<!-- body -->
<style scoped>
</style>

this is the auth template! yay!

<br>

{{ if .email }}
the email var is set to {{ .email }}
{{ else }}
the email var is unset
{{ end }}

<br>

{{ if .login }}
this is the login section which is visible
{{ else }}
the login section is not visible
{{ end }}

<br>

{{ if .register }}
<form action="/auth/new" method="POST">
	<input name="email" type="email"/><br />
	<input name="password" type="password" />
	<input name="register" type="submit" />
</form>
{{ else }}
the register section is not visible
{{ end }}

<!-- /body -->

{{ template "footer" }}
