{{ template "header" }}

this is the auth template

<br>

{{ if .login }}
I think you are {{ .email }}. <br>
<form action="/auth/login" method="POST">
	<input name="password" type="password" />
	<input name="login" type="submit" value="login"/>
</form>
{{ end }}

<br>

{{ if .register }}
Register: <br>
<form action="/auth/new" method="POST">
	<input name="email" type="email" />
	<input name="password" type="password" />
	<input name="register" type="submit" value="register"/>
</form>
{{ end }}

{{ template "footer" }}
